/lambda/
/scripts
/config
.history

**/*.svg
package.json
.umi
.umi-production
/dist
/plugins
.dockerignore
.DS_Store
.eslintignore
docker
.editorconfig
Dockerfile*
.gitignore
.babelrc
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
CNAME

README.md
Makefile
/docs
.git
oss-html.js
oss.js

*.ico
/global
/src/global
webpack.common.js
webpack.development.js
webpack.production.js
webpack.testing.js
.eslintignore
.eslintrc.js

