/lambda/
/scripts
/config
.history

**/*.svg
package.json
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
docker
.editorconfig
Dockerfile*
.gitignore
.babelrc
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
CNAME
/build

README.md
Makefile
/docs
.git
oss-html.js
oss.js

*.ico
/src/global
/src/assets
/global